* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
button {
  padding: 1.5rem 1.7rem;
  color: rgb(34, 34, 154);
  border: none;
  font-size: 1.6rem;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(231, 231, 231);
}

.grid {
  display: grid;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator{
  border: 2px orange solid;
  border-radius: 3px;
  /* max-width: 400px; */
  padding: 2.1rem 1.2rem;
  grid-gap: 6px;
  grid-template-rows: 1.4fr 1fr 1fr 1fr 1fr 1fr;
}

#display {
  text-align: right;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background-color:beige;
  color:rgb(0, 0, 0);
  border-radius: 3px;
  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 2.4rem;
  
}

.blink {
  animation: blink-animation 0.05s infinite;
}

@keyframes blink-animation {
  0% { opacity: 1; } /* Element is fully visible at the start */
  50% { opacity: 0; } /* Element becomes fully transparent at the midpoint */
  100% { opacity: 1; } /* Element becomes fully visible again at the end */
}

.row {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-5 {
  grid-template-columns: 2.1fr 1fr 1fr;
}