* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
button {
  padding: 0.8rem 1rem;
}

.grid {
  display: grid;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator{
  border: 1px orange solid;
  max-width: 400px;
  padding: 2.1rem 1.2rem;
  grid-gap: 5px;
  grid-template-rows: 1.4fr 1fr 1fr 1fr 1fr 1fr;
}

#display {
  text-align: right;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background-color:beige;
  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blink {
  animation: blink-animation 0.05s infinite;
}

@keyframes blink-animation {
  0% { opacity: 1; } /* Element is fully visible at the start */
  50% { opacity: 0; } /* Element becomes fully transparent at the midpoint */
  100% { opacity: 1; } /* Element becomes fully visible again at the end */
}

.row {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-5 {
  grid-template-columns: 2.1fr 1fr 1fr;
}